/*
blue = #4788A2
pink = #DE586D
orange = #E97658
peach = #F2A490
skyblue = #89D4DB
*/
img {
    border-radius: 50%; 
    width: 200px;
    height: 200px;
    margin: 0px;
  }
.td{
    border: 5px solid #eecfc8;
    background-color: #eecfc8;
    padding: 10px;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}
.center {
    margin-left: 400px;
    margin-right: auto;
    margin-top: 100px;
    border-collapse: collapse;
  }
#grad1{
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #cc7979 , #fffdfd);
}
.icon{
    height: 40px;
    width: 40px;
    margin-left: 20px;
    margin-right: auto;
    
}

.btn {
  background: #4788A2;
  border-color: transparent;
  color: white;
  font-family: Georgia;
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  font-size: 20px;
  text-decoration: none;
  padding: 5px 25px 5px 25px;

  }
  
  .btn:hover {
    background: white;
    color: black;
    border-color: black;
    text-decoration: none;
  }

  .btn2{
    margin-left: 10px;
    background: white;
    border-color: black;
    color: black;
    font-family: Georgia;
    border-radius: 20px;
    font-size: 20px;
    text-decoration: none;
    padding: 5px 25px 5px 25px;

  }
  .btn2:hover{
    background: #4788A2;
    border-color: transparent;
    color: white;
    text-decoration: none;
  }
  .para{ 
    vertical-align: top;
    padding-left: 30px;
  }
 header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-top: 30px;
    top: 0;
    position:absolute;
  }
  .menu{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 10px;
    margin: 30px;
    padding-top: 10px;
    top: 0;
    right: 0;
    position:absolute;  
  }
  a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    display: inline-block;
    text-decoration: none;
  }
  a:hover{
    color: blue;
  }
  .resume_table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    border-color: transparent;
  }
  html, body {
    height: 100%;
    margin: 0;
  }
  .content {
    min-height: 100%;
  }
  .content-inside {
    padding: 20px;
    padding-bottom: 50px;
  }
  .footer {
    height: 50px;
    margin-top: -50px;
    padding-top: 100px;
    padding-bottom: 20px;
    font-size: 20px;
    background-color: #ffe6e6;
  }
  table, th, td {
    border: none;
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
  }
  .cwf{
    text-align: right;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-size: 20px;
  }
 
    .designedby{
            text-align: left;
    }
    .copyright{
           position: absolute;
           right:0;
           margin-right: 10px;
    }